@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@300;400;500;600;700&display=swap");
/* Box sizing rules and reset*/
*,
*::before,
*::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
	border: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"],
li {
	list-style: none;
}

/* Set core root defaults */
html:focus-within {
	scroll-behavior: smooth;
}

html {
	font-family: "Sora", sans-serif;
	/* resetting font size to 10px makes rem math much easier*/
	font-size: 10px;
	box-sizing: border-box;
}
/*Set secting heading font*/
h1 {
	font-weight: 600;
	font-size: 5.5rem;
	transform: rotate(3deg);
	margin-top: 1rem;
}
h3 {
	font-weight: 600;
	font-size: 3rem;
	transform: rotate(-5deg);
}

/* Set core body defaults */
body {
	min-height: 100vh;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
}
P,
li {
	font-size: 1.6rem;
}
/* A elements that don't have a class get default styles */
a:not([class]) {
	text-decoration-skip-ink: auto;
}
a {
	text-decoration: none;
}

/* Make images easier to work with */
img,
picture {
	max-width: 100%;
	display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
	font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}

	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}
/* ########## END GLOBAL ########## */
/* purp2-border, drkpink min hand */
/* pink hour hand, blue second hand */
:root {
	--purple: #582841;
	--pumpkin: #ef4648;
	--orange: #f36f38;
	--muted-yellow: #f99e4c;
	--red: #cc2a49;
	--purple2: #725a7a;
	--drk-pink: #c56cb6;
	--pink: #ff7582;
	--blue: #355c7d;
}

main {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.clock {
	width: 700px;
	min-width: 400px;
	height: 400px;
	background: var(--purple);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.clock__face {
	width: 70%;
	margin: 0 auto;
	height: auto;

	display: flex;

	justify-content: center;
	align-items: center;
	position: relative;
}
.clock__face::after {
	content: "";
	width: 100%;
	height: 35px;
	position: absolute;
	bottom: 70px;
	left: 0;
	background: linear-gradient(#9198e500, var(--purple) 70%);
	z-index: 10;
	/* display: none; */
}
/* .slide {
	animation: move linear 1s infinite;
}

@keyframes slide {
	from {
		transform: translateY(0vh);
	}
	to {
		transform: translateY(-20vh);
	}
} */

.clock__face__hour,
.clock__face__minute,
.clock__face__second {
	color: var(--red);
	font-size: 17rem;
	font-family: "Overpass Mono", monospace;
}
.colon {
	color: var(--muted-yellow);
	font-size: 15rem;
	font-family: "Overpass Mono", monospace;
}

.clock__face__ampm {
	color: var(--orange);
	margin-bottom: auto;
	font-size: 6rem;
	font-family: "Overpass Mono", monospace;
	font-weight: 700;
}

/* ########## ANALOG CLOCK ########## */
.clock2 {
	width: 550px;
	height: 550px;
	border-radius: 5%;
	/* border: 7px solid var(--purple2); */
	border: 12px solid #24272f;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #242a38;
	/* background: var(--purple); */
	box-shadow: 0 0 10px #24272f;
}
.clock2__face {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background: #494c5750;
	position: relative;
}
.clock2__face::after {
	display: none;
	content: "";
	width: 250px;
	height: 250px;
	border-radius: 50%;
	background: #4245506e;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* add numbers and figure out how to rotate them. */

.clock2__face .number {
	/* create a rotation variable */
	--rotation: 0;
	position: absolute;
	/* create a big box for the numbers and just rotate the box */
	width: 100%;
	height: 100%;
	/* background: aquamarine; */
	text-align: center;
	font-family: "Sora", sans-serif;
	font-size: 3rem;
	color: rgba(255, 255, 255, 0.897);
	transform: rotate(var(--rotation));
	text-shadow: 2px 2px #1e2027d0;
}

/* 360/12 is 30 - so rotate numbers 30deg */
.clock2__face .number1 {
	--rotation: 30deg;
}
.clock2__face .number2 {
	--rotation: 60deg;
}
.clock2__face .number3 {
	--rotation: 90deg;
}
.clock2__face .number4 {
	--rotation: 120deg;
}
.clock2__face .number5 {
	--rotation: 150deg;
}
.clock2__face .number6 {
	--rotation: 180deg;
}
.clock2__face .number7 {
	--rotation: 210deg;
}
.clock2__face .number8 {
	--rotation: 240deg;
}
.clock2__face .number9 {
	--rotation: 270deg;
}
.clock2__face .number10 {
	--rotation: 300deg;
}
.clock2__face .number11 {
	--rotation: 330deg;
}

.hh {
	width: 14px;
	height: 165px;
	background: var(--red);
	/* border-radius: 100% 5px 5px 100%; */
	bottom: 50%;
	left: 50%;
	transform: translatex(-50%);
	transform-origin: bottom;
	position: absolute;
	box-shadow: 0 0 10px #24272f;
	z-index: 33;
	/* opacity: 0.2; */
}
.mh {
	width: 11px;
	height: 220px;
	background: var(--purple);
	/* border-radius: 100% 5px 5px 100%; */
	bottom: 50%;
	left: 50%;
	transform: translatex(-50%);
	transform-origin: bottom;
	position: absolute;
	box-shadow: 0 0 10px #24272f;
	z-index: 32;
}
.sh {
	width: 7px;
	height: 245px;
	background: var(--muted-yellow);
	/* border-radius: 100% 5px 5px 100%; */
	bottom: 50%;
	left: 50%;
	transform: translatex(-50%);
	transform-origin: bottom;
	position: absolute;
	box-shadow: 0 0 10px #24272f;
	z-index: 31;
}
.dot {
	--rotation: 0;
	width: 40px;
	height: 40px;
	background: var(--red);
	border-radius: 50%;
	position: absolute;
	bottom: 47%;
	left: 50%;
	transform: translatex(-50%);
	z-index: 50;
	/* opacity: 0.2; */
}
.period {
	color: var(--orange);
	position: absolute;
	font-size: 6rem;
	font-family: "Overpass Mono", monospace;
	font-weight: 700;
	bottom: 36%;
	left: 70%;

	transform: translate(-70%, -36%);
	color: var(--pink);
}
